* {
    margin: 0;
    padding: 0;
}

.main-container {
    background-color: #101952;
    min-height: 100vh;
}

.col-custom{
    position: fixed;
    width: 250px;
    background-color: #080d29;
    min-height: 100vh;
}


.main {
    padding: 20px;
    margin-left: 250px;
}


.form {
    border-radius: 10px;
    background-color: #0a0f30;
    padding: 20px;
    color: white;
}

.form-input {
    background-color: #172375;
    color: white;
    border: none;
}

.form-input::placeholder {
    color: white;
}

.form-input:focus-visible {
    background-color: #101952;
    color: white;
    box-shadow: 0 0 0 2px white;
}