* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas: 
        "sidebar main"
}

.sidebar {
    grid-area: sidebar;
    position: fixed;
    width: 250px;
    height: 100vh;
}

.main {
    grid-area: main;
}

