* {
    margin: 0;
    padding: 0;
}

.nav-link {
    color: white;
}

.nav-item {
    color: white;
}

.nav-link:hover {
    background-color: white;
    color: black;
}

.title {
    text-align: center;
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 30px;
}

.icon-custom {
    margin-right: 30px;
}