.container-fluid,
.row,
.l-col-1,
.l-col-2 {
  height: 100% !important;
}

.l-col-1 {
  background: #101a33;
  width: 100%;
  max-width: 250px;
}

.l-col-2 {
  background: #f7f6fa !important;
  overflow: hidden;
  overflow-y: auto;
}
