#card-statistic-wrapper {
  width: 100%;
  max-width: 500px;
  min-height: 200px;
  border-radius: 10px;
  color: #111539;
  background: #fff;
  background-size: cover;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#card-statistic-wrapper .card-statistic-header {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

#card-statistic-wrapper .card-statistic-header .card-statistic-title {
  font-size: 1.2rem;
  font-weight: 600;
}

#card-statistic-wrapper .card-statistic-header .card-statistic-description {
  background: #f9fafe;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 1rem;
}

#card-statistic-wrapper .card-statistic-counter {
  font-size: 3rem;
  font-weight: 700;
}

#card-statistic-wrapper .card-statistic-content {
  display: flex;
  align-items: end;
}

#card-statistic-wrapper .card-statistic-information {
  color: #89898f;
}
