.custom-button {
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 40px;
  background: #0e2a47;
  color: #fff;
}

.custom-button:hover {
  background: #0b2036;
  transition: ease-in-out 0.5s;
}
